<cameras>
	<camera
		centerX="0"
		centerY="-1"
		centerZ="-1"
		dirX="0"
		dirY="1"
		dirZ="1"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
	<camera
		centerX="-0.5"
		centerY="-2.5"
		centerZ="0"
		dirX="0.5"
		dirY="2.5"
		dirZ="0"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
	<camera
		centerX="-1"
		centerY="-2"
		centerZ="0"
		dirX="1"
		dirY="2"
		dirZ="0"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
	<camera
		centerX="-1.5"
		centerY="-1.5"
		centerZ="0"
		dirX="1.5"
		dirY="1.5"
		dirZ="0"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
	<camera
		centerX="-2"
		centerY="-1"
		centerZ="0"
		dirX="2"
		dirY="1"
		dirZ="0"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
	<camera
		centerX="-2.5"
		centerY="-0.5"
		centerZ="0"
		dirX="2.5"
		dirY="0.5"
		dirZ="0"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
	<camera
		centerX="-3"
		centerY="0"
		centerZ="0"
		dirX="3"
		dirY="0"
		dirZ="0"
		resWidth="800"
		resHeight="450"
		width="8"
		height="4.5"
		antialiasing="2"
	/>
</cameras>
<objects>
	<Mesh
		file="ply/scene.ply"
		doubleSided="true"
	/>
	<Sphere
		centerX="1.5"
		centerY="0"
		centerZ="0"
		r="0.7"
		reflection="0.9"
	/>
	<Sphere
		centerX="-1.5"
		centerY="0"
		centerZ="0"
		r="0.7"
	/>
</objects>
<lights>
	<light
		lightX="0"
		lightY="-5"
		lightZ="2"
	/>
</lights>